<div class="row">
  <div class="col-md-12">
    <div class="">
      <h2>购物车</h2>
      <%= link_to("清空购物车", clear_cart_path(current_cart), method: :post, class: "btn btn-xs btn-danger pull-right") %>
    </div>
    <br>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2">商品资讯</th>
          <th>单价</th>
          <th>数量</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <% current_cart.cart_items.each do |cart_item| %>
          <tr>
            <td>
              <%= link_to product_path(cart_item.product) do %>
                <% if cart_item.product.image.present? %>
                  <%= image_tag(cart_item.product.image.thumb.url, class: "thumbnail") %>
                <% else %>
                  <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
                <% end %>
              <% end %>
            </td>
            <td>
              <%= link_to(cart_item.product.title, product_path(cart_item.product)) %>
            </td>
            <td>
              <%= cart_item.product.price %>
            </td>
            <td>
              <%= simple_form_for [current_cart, cart_item]  do |f| %>
                <div class="pull-left">
                  <%= f.input :quantity, label: false, input_html: {style: "width: 50px"} %>
                </div>
                  <%= f.submit "更新", input_html: {style: "float: right;"} %>
              <% end %>
            </td>
            <td>
              <%= link_to("删除", cart_cart_item_path(current_cart, cart_item), method: :delete, data: {confirm: "Are you sure?"}) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
    <div class="total clearfix">
      <span class="pull-right">
        总计 <%= render_cart_total_price(current_cart) %> RMB
      </span>
    </div>
    <hr>
    <div class="checkout clearfix">
      <%= link_to("确认结帐", '#', method: :post, class: "btn btn-lg btn-danger pull-right") %>
    </div>
  </div>
</div>
